Нужно выполнить данную лабораторную работу:

Лабораторная работа №3
Классификация изображений. Сверточные сети. Полносвязные
сети с предобучением.
Дан набор данных изображений цветов, состоящий из k классов, разнесенных
по отдельным папкам (набор найти самостоятельно). Сформировать
обучающую, валидационную и тестовую выборки из изображений исходного
набора. Преобразовать исходные изображения, имеющие разную размерность
матрицы, к одной размерности.
Задание
1. Построить сверточную нейронную сеть из комбинации слоев: Conv2D и
MaxPooling, длинны, допустимой приведенной размерностью входных
изображений. В качестве итоговых слоев классификатора применить
полносвязную сеть (не менее двух слоев), позволяющую классифицировать на k
классов. Пример см. в лекциях.
Выполнить обучение построенной сети для решения задачи классификации
изображений цветов из данного набора по k классам с одновременной
валидацией. В качестве методов обучения использовать алгоритмы RMSProp
или Adam. Выполнить при этом оценки точности обучения и валидации, а также
ошибки потерь. Построить соответствующие графики.
При этом использовать генератор изображений, формирующий наборы данных
из папок с изображениями, аугментацию данных (Lect_4_ИАДНОММО), минипакетный способ обучения, регуляризацию l1,l2 или дропаут в целях борьбы с
переобучением.
2. Построить сверточную нейронную сеть, позволяющую классифицировать на
k классов исходный набор данных изображений цветов. Использовать при
построении сети сверточный блок одной из предобученных сверточных
моделей в Keras (выбрать в https://keras.io/api/applications/) и один из двух
подходов трансферного обучения, рассмотренных в лекциях
(Lect_4_ИАДНОММО). Пример см. в лекциях. Выполнить обучение
построенной сети для решения задачи классификации изображений данного
набора по k классам с одновременной валидацией. В качестве методов обучения
использовать RMSProp или Adam. Выполнить при этом оценки точности
обучения и валидации, а также ошибки потерь. Построить соответствующие
графики.
При этом использовать генератор изображений, формирующий наборы данных
из папок с изображениями, аугментацию в зависимости от метода трансферного
обучения, мини-пакетный способ обучения, регуляризацию l1,l2 или дропаут в
целях борьбы с переобучением.
3. Сравнить полученные точности и потери для построенных глубоких сетей на
этапе тестирования. Использовать метрики, необходимые в зависимости от
сбалансированности классов набора.